*.iml
.gradle
/local.properties
/.idea/assetwizardsettings.xml
/.idea/gradle.xml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/deploymentTargetDropDown.xml
/.idea/misc.xml
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/markdown-exported-files.xml
